/* The second selector is necessary to prevent
 *    conflicts with installed themes. */
toolbarbutton.qubessendall-button,
window:not([active="true"]) toolbarbutton.qubessendall-button {
  list-style-image: url("moz-icon://stock/gtk-save?size=large");
  -moz-box-orient: horizontal;
}

toolbar[iconsize="small"] #QubesAttachmentsSendAll {
  list-style-image: url("moz-icon://stock/gtk-save?size=small");
  -moz-box-orient: horizontal;
}
